/* This file fixes CSS deficiencies within UI LINE for our feature */

h1 {
    font-size: 20px;
}

.page-title {
    margin-bottom: 43px;
}


.card {
    border: 1px solid #ccc;
    border-radius: 15px;


    .card-title {
        font-size: 16px;
    }

    .card-subtitle {
        font-size: 12px;
    }

    .contact-email {
        font-size: 13px;

        .contact-email-input {
            height: 30px;
        }
    }
}

.ecom-customer-preference-feature {
    font-size: 12px;

    .card-primary-content {
        font-size: 14px;

        .edit-profile-link {
            font-weight: 600;
        }
    }

    .card-secondary-content {
        .edit-profile-link {
            font-size: 14px;
            line-height: 12px;
            padding-bottom: 11px;
            padding-top: 11px;
        }
    }


    .preference-headers .preference-notification {
        padding: 10px;
    }

    .preferences {
        th, td {
            padding: 10px;
            vertical-align: middle;
        }
    }

    .preference-actions {
        .action-submit,
        .action-cancel {
            font-size: 14px;
            line-height: 12px;
            padding-bottom: 11px;
            padding-top: 11px;
        }
    }
}
